.hero1 {
    width: 100%;
    background: url('../images/banner_img2m.png');
    height: 400px;
}

.hero1_overlay {
    height: 100%;
    width: 100%;
    background: rgba(34, 34, 34, 0.666);
}

.defi_cont {
    z-index: 2;
    border-left: 4px solid #dcc40d;
    padding-left: 10px;
}

.box {
    height: 300px;
}

.footer {
    height: 300px;
}

.foo_in {
    display: flex;
    justify-content: space-evenly;
}

#dispCoin {
    height: 100px;
}